name: SBOM Generation and Scanning with Syft and Grype

on:
  pull_request:
    branches:
      - main
  push:

permissions:
  contents: read
  pull-requests: write

jobs:
  syft-and-grype:
    runs-on: ubuntu-latest
    steps:
      
      - name: Checkout repository
        uses: actions/checkout@v5
      
      # Building the Docker image to be scanned
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build Docker image
        run: docker build -t example-container:${{ github.sha }} .

      # Scanning the Docker image with Syft to generate SBOM
      - name: Generate SBOM with Syft
        run: |
          curl -sSfL https://raw.githubusercontent.com/anchore/syft/main/install.sh | sh -s -- -b /usr/local/bin
          syft example-container:${{ github.sha }} -o cyclonedx-json > sbom.cyclonedx.json

      # Scanning the SBOM with Grype
      - name: Scan SBOM with Grype
        run: |
          curl -sSfL https://raw.githubusercontent.com/anchore/grype/main/install.sh | sh -s -- -b /usr/local/bin
          grype sbom:sbom.cyclonedx.json

      # Upload SBOM as artifact
      - name: Upload SBOM
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: sbom-cyclonedx
          path: sbom.cyclonedx.json
          retention-days: 7